<!DOCTYPE html>
   <html lang="en">
     <head>
         <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js">
      </script>
      <script type="text/javascript">
   var map;
   var marker;
        function initialize() {
        var mapOptions = {
        center: new google.maps.LatLng(10.803129, 106.682163),
        zoom: 15 };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        google.maps.event.addListener(map, 'click', function(event){
            placeMarker(event.latLng);
       });
           placeCrimes(crimes | safe);
       }
        function placeMarker(location) {
            if(marker){
                marker.setPosition(location);
            }else{
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
            document.getElementById('latitude').value = location.lat();
            document.getElementById('longitude').value = location.lng();
        }
        function placeCrimes(crimes){
            for(i=0;i<crimes.length;i++){
                crime = new google.maps.Marker({
                    position: new google.maps.LatLng(crimes[i].latitude,crimes[i].longitude),
                    map: map,
                    title: crimes[i].date + "\n" + crime[i].category + "\n" + crime[i].description
                });
            }
        }
     </script>
     </head>
       <body onload="initialize()">
       <div id="map-canvas" ></div>
        <div id="newcrimeform">
            <h2>Submit new crime</h2>
            <form action="/submitcrime" method="POST">
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="mugging">Mugging</option>
                    <option value="breakin">Break-in</option>
                </select>
                <label for="date">Date</label>
                <input name="date" id="date" type="date">
                <label for="latitude">Latitude</label>
                <input name="latitude" id="latitude" type="text">
                <label for="longitude">Longitude</label>
                <input name="longitude" id="longitude" type="text">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="A brief but detailed description of the crime"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
       </body>
</html>